<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle del proyecto</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" href="/public/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <main>
      <section class="preview">
        <h2 class="preview_title">Tu proyecto en detalle</h2>
        <a class="back_button" href="/"> Volver al inicio </a>
        <!-- <p>URL imagen: <%= oneProject.image %></p> -->
        <div class="preview__container">
          <div
            class="projectImage"
            style="background-image: url('<%= oneProject.image %>')"
          ></div>

          <article class="card">
            <h2 class="card__projectTitle">
              <span class="card__projectTitle--text">
                Tarjeta proyecto personal
              </span>
            </h2>

            <div class="card__author">
              <div
                class="card__authorPhoto"
                style="background-image: url('<%= oneProject.photo %>')"
              ></div>
              <p class="card__job"><%= oneProject.job %></p>
              <h3 class="card__name"><%= oneProject.author %></h3>
            </div>

            <div class="card__project">
              <h3 class="card__name"><%= oneProject.name %></h3>
              <p class="card__slogan"><%= oneProject.slogan %></p>

              <h3 class="card__descriptionTitle">Descripción del proyecto</h3>
              <p class="card__description"><%= oneProject.description %></p>

              <div class="card__technicalInfo">
                <p class="card__technologies"><%= oneProject.technologies %></p>

                <a
                  class="icon icon__www"
                  href="<%= oneProject.demo %>"
                  title="Haz click para ver el proyecto online"
                >
                </a>
                <a
                  class="icon icon__github"
                  href="<%= oneProject.repo %>"
                  title="Haz click para ver el código del proyecto"
                >
                </a>
              </div>
            </div>
          </article>
        </div>
      </section>
    </main>
    <script>
      document.addEventListener("mousemove", (e) => {
        const sparkle = document.createElement("div");
        sparkle.classList.add("sparkle");
        sparkle.style.left = `${e.pageX - 4}px`;
        sparkle.style.top = `${e.pageY - 4}px`;
        document.body.appendChild(sparkle);

        sparkle.addEventListener("animationend", () => {
          sparkle.remove();
        });
      });
    </script>
  </body>
</html>
